# Librewolf
librewolf/.librewolf/*
!librewolf/.librewolf/librewolf.overrides.cfg
!librewolf/.librewolf/userChrome.css

# Visual studio code
code/.config/code/*
!code/.config/code/User
code/.config/code/User/*
!code/.config/code/User/snippets/
!code/.config/code/User/keybindings.json
!code/.config/code/User/settings.json

# Zsh
.zsh_history
